@import "src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  & .horizontale-container {
    flex: 1;

    display: flex;
    flex-direction: row;

    & .ribon-left {
      height: 100%;
      background-color: $bg-030;
    }

    & .main-container {
      flex: 1;
      overflow: auto;
    }

    & .ribon-right {
      height: 100%;
      background-color: $bg-030;
    }
  }
  & app-status-bar {
    width: 100%;
    height: 25px;
    background-color: $bg-060;
  }
}
