<window-title-bar></window-title-bar>
<div class="horizontale-container">
  <window-ribon
    class="ribon-left"
    [itemTop]="ribonLeftTop"
    [itemBottom]="ribonLeftBottom"
  ></window-ribon>
  <div class="main-container">
    <div class="open-file"></div>
    <div class="view-container">
      <div class="view-header"></div>
      <div class="view"></div>
    </div>
  </div>
  <window-ribon
    class="ribon-right"
    [itemTop]="ribonRightTop"
    [itemBottom]="ribonRightBottom"
  ></window-ribon>
</div>
<window-status-bar></window-status-bar>
