<div class="title-bar-left">
  <div *ngFor="let btnText of buttonLeft">{{ btnText }}</div>
</div>
<div class="title-bar-center" (mousedown)="startDrag()">{{ textCenter }}</div>
<div class="title-bar-right">
  <div class="title-bar-window-btn">
    <div (click)="minimize()">
      <img src="assets\images\minimize.svg" />
    </div>
    <div (click)="maximize()"><img src="assets\images\maximize.svg" /></div>
    <div (click)="quit()" class="warning">
      <img src="assets/images/close.svg" />
    </div>
  </div>
</div>
