<div [className]="theme">
  <app-title-bar></app-title-bar>
  <div class="horizontale-container">
    <app-ribon
      class="ribon-left"
      [itemTop]="ribonLeftTop"
      [itemBottom]="ribonLeftBottom"
    ></app-ribon>
    <div class="main-container">
      <div class="open-file"></div>
      <div class="view-container">
        <div class="view-header"></div>
        <div class="view"></div>
      </div>
    </div>
    <app-ribon
      class="ribon-right"
      [itemTop]="ribonRightTop"
      [itemBottom]="ribonRightBottom"
    ></app-ribon>
  </div>
  <app-status-bar></app-status-bar>
</div>
