@import "src/styles.scss";

:host {
  width: 100%;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  & .horizontale-container {
    flex: 1;

    display: flex;
    flex-direction: row;

    & .ribon-left {
      width: 50px;
      height: 100%;
      background-color: $bg-030;
    }

    & .main-container {
      flex: 1;

      display: flex;
      flex-direction: column;

      & .open-file {
        height: 40px;
        width: 100%;

        background-color: $bg-020;
      }

      & .view-container {
        width: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        background-color: $bg-010;

        & .view-header {
          height: 25px;
          width: 100%;
          box-shadow: 0px 2px 5px 0px $color-black;
        }

        & .view {
          flex: 1;
          width: 100%;
        }
      }
    }

    & .ribon-right {
      width: 50px;
      height: 100%;
      background-color: $bg-030;
    }
  }
  & app-status-bar {
    width: 100%;
    height: 25px;
    background-color: $bg-060;
  }
}
