<div class="settings">
  <div class="header">
    <span>Settings</span>
  </div>
  <div class="main">
    <div class="section">
      <div class="group-item">
        <span>Items</span>
        <div class="items">
          <div class="item">Text</div>
          <div class="item">Text2</div>
          <div class="group-item">
            <span>Items</span>
            <div class="items">
              <div class="item">Text</div>
              <div class="item">Text2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">Text12</div>
    </div>
    <div class="view"></div>
  </div>
  <div class="footer">
    <span>Help</span>
    <div class="apply-btns">
      <button class="ok">Ok</button>
      <button class="cancel">Cancel</button>
      <button class="apply">Apply</button>
    </div>
  </div>
</div>
