@import "style/theme.scss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color: #f6f6f6;
  background-color: #2f2f2f;
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
